#thermometer {
    width: 50px;
    height: 200px;
    background-color: lightgray;
    position: relative;
  }
  
  #thermometer-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
  }
  .thermometer-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  #input-container {
    margin-top: 20px;
  }
  
  #input-form input {
    margin-right: 10px;
  }
  
  #log-container {
    margin-top: 20px;
  }
